@media (min-width:360px) {

    .header{
        max-width : 360px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }
    
    .header__logo{
        max-width: 10rem;
        margin-bottom: 1rem;
    }
    
    .header__navbar{ 
        color: var(--text-color);
        width: 22rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 0.5rem 0 0.5rem; 
    }
    
    .header__navbar--container{
        display: flex;
        justify-content: center;
    }
    
    .header__navbar--container a{
        text-decoration: none;
        color: inherit;
    }
    
    .header__navbar--container:hover{
        color: var(--primary-color);
    }
}
    
@media (min-width: 1000px) {
    .header{
        max-width : 1440px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 4rem 1rem 4rem;
    }
    
    .header__logo{
        max-width: 13rem;
        margin: 0;
    }
    
    .header__navbar{
        min-width: 30rem;
        border-left: 1px solid var(--text-light);
    }

    
    .header__navbar--container{
        border-right: 1px inset var(--text-light);
        height: 4rem;
        width: 100%;
        padding: 0.5rem 0 0.5rem 0 0.5rem;
    }

    .header__navbar--container-instruments{
        display: flex;
        align-items: start;
        padding-right: 0.2rem;
    }

    .header__navbar--container-about{
        display: flex;
        align-items: end;
    }

    .header__navbar--container-contact{
        display: flex;
        align-items: start;
    }

    .header__navbar--container:hover{
        display: flex;
        align-items: center;
    }
}

    