@import url("./accordion.css");
@import url("./instrument.css");


.instrument-content {
    padding: 2rem 2rem 0;
    margin: 0 auto;
}

.instrument-content__subtitle {
    color: var(--primary-dark);
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.instrument-content__title {
    color: var(--secondary-dark);
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.4rem;
    margin-bottom: 2rem;
}

.instrument-content__title span {
    display: block;
}

.instrument-container__list ul li {
    list-style: none;
}

.instrument-content p {
    margin-bottom: 1.5rem;
}

.instrument-container__subtitle-two {
    color: var(--primary-dark);
    font-weight: 700;
    font-size: 1.2rem;
    margin: 2rem 0 1.2rem;
}

.instrument-content__keyword {
    margin-bottom: 3rem;
}

.instrument-content__keyword h6 {
    color: var(--primary-dark);
    font-weight: 700;
    font-size: 1.2rem;
    margin: 4.2rem 0 3rem;
}

.instrument-content__description {
    margin-bottom: 2rem;
}

.keyword-desktop {
    display: none;
}

.instrument-tutorials {
    padding: 0 2rem;
    margin: 0 auto;
}

.instrument-tutorials h6 {
    color: var(--primary-dark);
    font-weight: 700;
    font-size: 1.2rem;
    margin: 4.2rem 0 2rem;
}

.instrument-tutorials__container {
    padding: 2rem 0;
}

.instrument-tutorials__container video {
    width: 100%;
    margin-bottom: 2rem;
}



@media (min-width: 800px) {
    .instrument-content {
        max-width: 700px;
        margin: 0 auto;
        padding: 0;

    }

    .instrument-tutorials {
        max-width: 700px;
        margin: 0 auto;
        padding: 0;
    }

}

@media (min-width: 900px) {
    .instrument-container__subtitle-two {
        margin-top: 3.5rem;
    }
}

@media (min-width: 1000px) {
    .rotation-wrapper {
        height: unset;
        padding: unset;
    }

    .instrument-container--desktop {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }


    .instrument-content {
        max-width: 1440px;
        margin: 0 auto;
        padding: 3rem 4rem 0;

    }

    .instrument-tutorials {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 4rem 4rem;

    }

    .instrument-tutorials__container {
        display: flex;
        gap: 1rem;
    }

    .instrument-tutorials__container video {
        width: 50%;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }

    .instrument-content__subtitle {
        font-size: 1.5rem;
        font-weight: 500;
    }

    .instrument-content__title {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .instrument-content__title span {
        display: inline;

    }

    .instrument-container--mobile {
        display: none;
    }

    .instrument-content__keyword .keyword-desktop {
        display: flex;
        justify-content: center;
    }

    .keyword-desktop img {
        width: 90%;
    }

    .instrument-container__list {
        display: flex;
        gap: 30rem;
    }

}