.rotation-wrapper {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.instrument-container--desktop {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px 0px;
    background-image: url(../../../public/assets/drum/fondo-mobile.jpg);
    max-width: 1400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 35rem;
    position: relative;
}

.instrument-container--desktop * {
    position: absolute;
}

.instrument-container__kick {
    background-image: url(../../../public/assets/drum/kick.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: rotate(90deg);
    height: 20%;
    width: 45%;
    margin-top: 65%;
    margin-left: 20%;
    z-index: 1;
}

.instrument-container__snare {
    background-image: url(../../../public/assets/drum/snare.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 18%;
    width: 26%;
    transform: rotate(90deg);
    margin-left: 20%;
    margin-top: 35%;
    z-index: 5;
}

.instrument-container__floor {
    background-image: url(../../../public/assets/drum/floor.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 18%;
    width: 28%;
    transform: rotate(90deg);
    margin-left: 18%;
    margin-top: 110%;
    z-index: 3;
}

.instrument-container__toom--one {
    background-image: url(../../../public/assets/drum/tom-1.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 16%;
    width: 22%;
    transform: rotate(90deg);
    margin-top: 40%;
    margin-left: 40%;
    z-index: 6;
}

.instrument-container__toom--two {
    background-image: url(../../../public/assets/drum/tom-2.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 16%;
    width: 22%;
    transform: rotate(90deg);
    margin-top: 92%;
    margin-left: 30%;
}

.instrument-container__toom--three {
    background-image: url(../../../public/assets/drum/tom-3.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 16%;
    width: 22%;
    transform: rotate(90deg);
    margin-top: 92%;
    margin-left: 50%;
}

/* para obtener otras animaciones del platillo*/
.instrument-container__ride {
    height: 22%;
    width: 37%;
    margin-top: 110%;
    margin-left: 40%;
    z-index: 6;
    transform: rotate(90deg);
}

.cymbal-ride-front {
    background-image: url(../../../public/assets/drum/ride-front.png);
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.cymbal-ride-back {
    background-image: url(../../../public/assets/drum/ride-back.png);
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}


/* para obtener otras animaciones del platillo*/
.instrument-container__closehh {
    height: 16%;
    width: 25%;
    transform: rotate(90deg);
    margin-top: 16%;
    margin-left: 28%;
    z-index: 4;
}


.cymbal-closehh-front {
    background-image: url(../../../public/assets/drum/close-hh-front.png);
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.cymbal-closehh-back {
    background-image: url(../../../public/assets/drum/close-hh-back.png);
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

/* para obtener otras animaciones del platillo*/


.instrument-container__openhh {
    height: 16%;
    width: 25%;
    transform: rotate(90deg);
    margin-top: 18%;
    margin-left: 10%;
    z-index: 4;
}

.cymbal-openhh-front {
    background-image: url(../../../public/assets/drum/open-hh-front.png);
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.cymbal-openhh-back {
    background-image: url(../../../public/assets/drum/open-hh-back.png);
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

/* para obtener otras animaciones del platillo*/

.instrument-container__crash--one {
    height: 25%;
    width: 30%;
    transform: rotate(90deg);
    margin-top: 15%;
    margin-left: 50%;
    z-index: 7;
}

.cymbal-crash--one-front {
    background-image: url(../../../public/assets/drum/crash-1-front.png);
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.cymbal-crash--one-back {
    background-image: url(../../../public/assets/drum/crash-1-back.png);
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

/* para obtener otras animaciones del platillo*/


.instrument-container__crash--two {
    height: 20%;
    width: 30%;
    transform: rotate(90deg);
    margin-top: 128%;
    margin-left: 20%;
    z-index: 5;
}

.cymbal-crash--two-front {
    background-image: url(../../../public/assets/drum/crash-2-front.png);
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.cymbal-crash--two-back {
    background-image: url(../../../public/assets/drum/crash-2-back.png);
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}


.instrument-container__pedal {
    background-image: url(../../../public/assets/drum/pedal.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 10%;
    width: 12%;
    margin-top: 74%;
    margin-left: 18%;
    transform: rotate(90deg);
    z-index: 2;
}

.right-drumstick {
    background-image: url(../../../public/assets/drum/stick-1.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 20%;
    width: 1%;
    top: 50%;
    left: 50%
}

.left-drumstick {
    background-image: url(../../../public/assets/drum/stick-1.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 20%;
    width: 1%;
    top: 60%;
    left: 40%
}


.instrument-container__stick1 {
    background-image: url(../../../public/assets/drum/stick-1.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(90deg);
    height: 12%;
    width: 2%;
    margin-top: 60%;
    margin-left: 15%;
}

.instrument-container__stick2 {
    background-image: url(../../../public/assets/drum/stick-2.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(90deg);
    height: 12%;
    width: 2%;
    margin-top: 90%;
    margin-left: 15%;
}

/*animaciones*/
.animation-style {
    transform: scale(0.94) rotate(90deg) !important;
    filter: brightness(0.5);
}

@media (min-width: 400px) {
    .instrument-container--desktop {
        height: 40rem;
    }
}

@media (min-width: 500px) {
    .instrument-container--desktop {
        height: 50rem;
    }
}

@media (min-width: 600px) {
    .instrument-container--desktop {
        height: 80rem;
    }
}





/*instrumento desktop */
@media (min-width: 1000px) {
    .animation-style {
        transition: all .8 ease;
        transform: scale(0.94) !important;
        filter: brightness(0.5);
    }

    .drumstickAnimate {
        animation: drumstick-animation 0.15s ease-in-out;
    }

    @keyframes drumstick-animation {
        0% {
            transform: rotateX(0deg) translateY(0);
        }

        50% {
            transform: rotateX(20deg) translateY(-20px);
        }

        100% {
            transform: rotateX(0deg) translateY(0);
        }
    }

    .left-drumstick {
        transform: rotate(15deg) scaleY(.9);
    }

    .right-drumstick {
        transform: rotate(-10deg) scaleY(.9);
    }

    .drumstickAnimate {
        animation: .35s .1ms backwards drumstick-animation;
    }

    .hitCrash {
        animation: 2s .1ms swingCrash
    }

    @keyframes swingCrash {

        0%,
        18%,
        40% {
            opacity: 0
        }

        100%,
        29%,
        51%,
        7% {
            opacity: 1
        }

        62%,
        84% {
            opacity: .2
        }

        73% {
            opacity: .8
        }
    }

    .hitCrashBack {
        animation: 2s .1ms swingCrashBack
    }

    @keyframes swingCrashBack {
        0% {
            transform: scaleY(1.3) rotate(1deg);
        }

        16% {
            transform: scaleY(0.92);
        }

        32% {
            transform: scaleY(1.06) rotate(-3deg);
            filter: brightness(110%);
        }

        48% {
            transform: scaleY(0.94);
            filter: brightness(100%);
        }

        64% {
            transform: scaleY(1.04) rotate(0);
            filter: blur(0);
            filter: brightness(120%);
        }

        80% {
            transform: scaleY(0.96);
            filter: brightness(90%);
        }

        94% {
            transform: scaleY(1.02) rotate(-1deg);
        }
    }

    .instrument-container--desktop {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px 0px;
        background-image: url(../../../public/assets/drum/fondo.jpg);
        max-width: 1400px;
        margin: 2.5rem auto;
        height: 870px;
        position: relative;
    }

    .instrument-container--desktop * {
        position: absolute;
    }

    .instrument-container__kick {
        height: 30%;
        width: 30%;
        margin-top: 29%;
        margin-left: 32%;
        transform: none;
    }

    .instrument-container__snare {
        height: 23%;
        width: 18%;
        margin-left: 20%;
        transform: none;
    }

    .instrument-container__floor {
        height: 25%;
        width: 19%;
        transform: none;
        margin-top: 32%;
        margin-left: 58%;
        z-index: 3;
    }

    .instrument-container__toom--one {
        height: 18%;
        width: 15%;
        margin-top: 22%;
        margin-left: 24%;
        transform: none;
    }

    .instrument-container__toom--two {
        height: 18%;
        width: 15%;
        margin-top: 22%;
        transform: none;
        margin-left: 52%;
    }

    .instrument-container__toom--three {
        height: 18%;
        width: 15%;
        margin-top: 22%;
        margin-left: 65%;
        z-index: 5;
        transform: none;
    }

    .instrument-container__ride {
        height: 34%;
        width: 20%;
        margin-top: 15%;
        margin-left: 75%;
        z-index: 6;
        transform: none;
    }

    .instrument-container__closehh {
        height: 24%;
        width: 14%;
        margin-top: 25%;
        margin-left: 10%;
        z-index: 5;
        transform: none;
    }

    .instrument-container__openhh {
        height: 24%;
        width: 14%;
        margin-top: 35%;
        margin-left: 4%;
        transform: none;
    }

    .instrument-container__crash--one {
        height: 30%;
        width: 18%;
        margin-top: 9%;
        margin-left: 11%;
        transform: none;
    }

    .instrument-container__crash--two {
        height: 25%;
        width: 18%;
        margin-top: 35%;
        margin-left: 75%;
        transform: none;
    }

    .instrument-container__pedal {
        height: 8%;
        width: 4%;
        margin-top: 33%;
        margin-left: 46.2%;
        transform: none;
    }

    .instrument-container__stick1 {
        height: 22%;
        width: 2%;
        margin-top: 60%;
        margin-left: 40%;
        transform: none;
    }

    .instrument-container__stick2 {
        height: 22%;
        width: 2%;
        margin-top: 60%;
        margin-left: 60%;
        transform: none;
    }

    .instrument-container__pedal {
        height: 16%;
        width: 10%;
        margin-top: 47.5%;
        margin-left: 45%;
        transform: none;
    }
}

@media (min-width: 1200px) {

    .instrument-container__kick {
        margin-top: 25%;
    }

    .instrument-container__snare {
        height: 25%;
        width: 20%;
        margin-left: 18%;
        margin-top: 30%;
    }

    .instrument-container__toom--one {
        height: 22%;
        width: 15%;
        margin-top: 18%;
        margin-left: 22%;
    }

    .instrument-container__toom--two {
        height: 24%;
        width: 15%;
        margin-top: 18%;
        margin-left: 52%;
        z-index: 5;
    }

    .instrument-container__toom--three {
        height: 24%;
        width: 15%;
    }

    .instrument-container__pedal {
        margin-top: 41%;
    }

    .instrument-container__stick1,
    .instrument-container__stick2 {
        margin-top: 48%;
    }

    .instrument-container__stick2 {
        margin-left: 55%;
    }

}

@media (min-width: 1300px) {

    .instrument-container--desktop {
        margin: 0 auto;
    }

    .instrument-container__toom--two {
        margin-top: 15%;
    }

    .instrument-container__floor {
        margin-top: 28%;
        margin-left: 55%;
    }

    .instrument-container__crash--two {
        margin-top: 32%;
        margin-left: 68%;
        z-index: 5;
    }

    .instrument-container__toom--three {
        margin-top: 20%;
        margin-left: 62%;
    }

    .instrument-container__kick {
        height: 35%;
    }

    .instrument-container__pedal {
        margin-top: 42%;
    }

    .instrument-container__stick1,
    .instrument-container__stick2 {
        margin-top: 45%;
    }
}

@media (min-width: 1400px) {
    .instrument-container--desktop {
        padding-left: 2.5rem;
        margin: 2.5rem auto;
    }

    .instrument-container__kick {
        margin-top: 15%;
        margin-left: 30%;
    }

    .instrument-container__toom--two {
        height: 28%;
        margin-top: 6%;
        margin-left: 48%;
    }

    .instrument-container__toom--three {
        height: 28%;
        margin-top: 17%;
        margin-left: 57%;
    }

    .instrument-container__floor {
        margin-top: 28%;
        height: 35%;
        margin-left: 58%;
        z-index: 6;
    }

    .instrument-container__ride {
        height: 36%;
        margin-top: 2%;
        margin-left: 62%;
    }

    .instrument-container__crash--one {
        margin-top: 8%;
        margin-left: 6%;
    }

    .instrument-container__crash--two {
        margin-top: 21%;
        margin-left: 70%;
        height: 30%;
        z-index: 7;
    }


    .instrument-container__toom--one {
        height: 24%;
        margin-top: 15%;
        margin-left: 20%;

    }

    .instrument-container__snare {
        height: 30%;
        margin-left: 15%;
        margin-top: 25%;
    }

    .instrument-container__openhh {
        margin-left: 8%;
        margin-top: 35%;
        height: 23%;
    }

    .instrument-container__closehh {
        margin-top: 25%;
        margin-left: 5%;
        height: 23%;
    }

    .instrument-container__pedal {
        margin-top: 32%;
        margin-left: 43%;
    }

    .instrument-container__stick1,
    .instrument-container__stick2 {
        margin-top: 44%;
    }

    .instrument-container__stick1 {
        margin-left: 40%;
    }

    .instrument-container__stick2 {
        margin-left: 55%;
    }
}