.main-construction-piano,
.main-construction-guitar,
.main-construction-accordeon {
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: overlay;
}

.main-construction-piano {
  background-image: url(/public/assets/img/medium-piano.png);
}

.main-construction-guitar {
  background-image: url(/public/assets/img/medium-guitar.png);
}

.main-construction-accordeon {
  background-image: url(/public/assets/img/construccion-acordeon.png);
}

.in-construction__content--text--title {
  color: var(--secondary-dark);
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 2rem;
}

a.in-construction__content--primary-button {
  background-color: var(--primary-color);
  border-radius: 3rem;
  color: #fff;
  cursor: pointer;
  display: block;
  padding: 0.75rem 3rem;
  text-align: center;
  text-decoration: none;
  transition: all 300ms ease-in-out;
}

a.in-construction__content--primary-button:hover {
  background-color: var(--primary-dark);
  transition: all 300ms ease-in-out;
}

section.in-construction__content {
  margin: 14rem auto 2rem;
  padding: 1rem 1.5rem 0rem 1.5rem;
}

@media (min-width: 1000px) {

  .main-construction-piano,
  .main-construction-guitar,
  .main-construction-accordeon {
    background-position: right bottom;
  }

  section.in-construction__content {
    margin: 14rem auto;
    max-width: 1440px;
    padding: 1rem 4rem 0rem 4rem;
  }

  .in-construction__content--text--title {
    font-size: 3.5rem;
    line-height: 1.2;
  }

  a.in-construction__content--primary-button {
    display: inline-block;
  }
}

@media (min-width: 1000px) {
  section.in-construction__content {
    margin: 16rem auto;
    max-width: 1440px;
    padding: 1rem 4rem 0rem 4rem;
  }

}