@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import url(./components/header.css);
@import url(./pages/home.css);
@import url(../css/instrument/index.css);
@import url(./components/footer.css);
@import url(./pages/contact.css);
@import url(./pages/in-construction.css);
@import url(./pages/about-us.css);

:root {
  --primary-color: #8a3db5;
  --primary-light: #f0e3f7;
  --primary-dark: #310d75;
  --secondary-color: #44dad0;
  --secondary-dark: #1da09b;
  --secondary-light: #d5f5f6;
  --tertiary-dark: #c1894a;
  --tertiary-color: #f8ca2f;
  --tertiary-light: #fdf0c4;
  --text-light: #9e9e9e;
  --text-color: #333333;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  color: var(--text-color);
  font-size: 1rem;
}