.header{
    max-width : 360px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;

}

.header__logo{
    max-width: 10rem;
    margin-bottom: 1rem;
}

.header__navbar{
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    width: 20rem;
    justify-content: space-between;
}

.header__navbar--text{
    text-decoration: none;
    color: inherit;
}



@media (min-width: 600px) {}
    .header{
        max-width : 1000px;
        margin: 0 auto;
    }


@media (min-width: 1000px) {
    .header{
        max-width : 1440px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 4rem 1rem 4rem;
    }

    .header__logo{
        max-width: 13rem;
        margin: 0;
    }
}