@import url(./base.css);

/*Probablemente lo de "figure, h1, h2, p" estaría bien ponerlo dentro de "base":*/

figure,
img {
  display: block;
  margin: 0;
  padding: 0;
}

h2 {
  color: var(--primary-dark);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

h1 {
  color: var(--secondary-dark);
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.5;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

.container-home__hero-text-block {
  max-width: 568px;
}

.container-home-background {
  background-color: #f9f3fc;
  padding-bottom: 2rem;
}

section.container-home {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  gap: 3rem;
  margin: 0 auto;
  max-width: 1440px;
  padding: 1rem 1.5rem 0rem 1.5rem;
}


a.container-home__hero-text-block__primary-button {
  background-color: var(--primary-color);
  border-radius: 48px;
  color: #fff;
  cursor: pointer;
  padding: 0.75rem 3rem;
  text-decoration: none;
  /*  added, he probado text-align center, pero no lo mueve*/
  display: block;
  text-align: center;
}

/* container-home__hero-figure img {
  align-items: center;
} */

.container-home__hero-p {
  color: var(--text-color);
  margin-bottom: 2rem;
}

/* .container-home__hero-figure {
  background-color: #f9f3fc;
} */

.container-home__info {
  margin: 0 auto;
  max-width: 1440px;
  padding: 4rem 2rem 0rem 2rem;
  text-align: center;
}

/* Start gallery section */
.container-home__gallery {
  margin: 0 auto;
  max-width: 1440px;
  padding: 4rem 1.5rem 2rem 1.5rem ;
}

.container-home__gallery__row {
  gap: 1.5rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
}

.container-home__gallery__row__card {
  display: flex;
 /* flex-direction: column;*/
  align-items: center;
  border-radius: 2rem;
  gap: 1rem;
}

.container-home__gallery__row__card h2,
.container-home__gallery__row__card p {
  color: var(--primary-dark);
}

.container-home__gallery__row__card p {
  margin: 1rem 1rem 2rem 1rem;
  /* padding-right: 1rem; */
}

.container-home__gallery__row__card h2 {
  margin: 1rem 1rem;
}

.container-home__gallery__row__card__figure img {
  border-radius: 1.5rem 1.5rem;
  cursor: pointer;
  /* width: 100%; */
}

.container-home__gallery__row__card__secondary-button {
  background-color: var(--primary-color);
    /* border: 1px solid var(--primary-color); */
    border-radius: 48px;
    color: #fff;
    cursor: pointer;
    padding: 0.75rem 3rem;
    text-decoration: none;
  /* margin: 1rem 1rem 3rem 1rem; */
}
.container-home__hero-figure img{
  width: 100%;
}
.container-home__gallery__row__card{
  flex-direction: column;
}
.container-home__gallery__row__card__secondary-button{
  display: block;
  text-align: center;
}



/* Card backgrounds - none */

/* Media query Tablet */

@media (min-width: 786px) {
  figure,
  img {
    display: block;
    margin: 0;
    padding: 0;
  }

  h2 {
    color: var(--primary-dark);
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.5;
  }

  h1 {
    color: var(--secondary-dark);
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.5;
  }

  p {
    font-size: 1rem;
    line-height: 1.5;
  }

  .container-home__hero-text-block {
    max-width: 568px;
  }

  .container-home-background {
    background-color: #f9f3fc;
  }

  section.container-home {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    margin: 0 auto;
    max-width: 1440px;
    padding: 1rem 4rem 0rem 4rem;
  }
  .container-home__hero-text-block{
    flex-basis: 60%;
  }
  .container-home__hero-text-block h1{
    font-size: 2rem;
  }
  .container-home__hero-text-block h2{
    font-size: 1rem;
  }
  a.container-home__hero-text-block__primary-button {
    padding: 0.5rem 3rem;
  }
  section.container-home {
    padding-top: 2rem;
  }
  .container-home__hero-figure img {
    width: 120%;
  }
  .container-home__hero-figure{
    overflow: hidden;
  }
  .container-home__gallery__row__card {
    flex-direction: row;
  }
  
}
@media (min-width: 1000px) {
    figure,
  img {
    display: block;
    margin: 0;
    padding: 0;
  }

  h2 {
    color: var(--primary-dark);
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.5;
  }

  h1 {
    color: var(--secondary-dark);
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.5;
  }

  p {
    font-size: 1rem;
    line-height: 1.5;
  }

  .container-home__hero-text-block {
    max-width: 568px;
  }

  .container-home-background {
    background-color: #f9f3fc;
  }

  section.container-home {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    margin: 0 auto;
    max-width: 1440px;
    padding: 1rem 4rem 0rem 4rem;
  }

  a.container-home__hero-text-block__primary-button {
    background-color: var(--primary-color);
    border-radius: 48px;
    color: #fff;
    cursor: pointer;
    padding: 0.75rem 3rem;
    text-decoration: none;
    display: inline;
  }

  .container-home__hero-p {
    color: var(--text-color);
    margin-bottom: 2rem;
  }

  .container-home__info {
    margin: 0 auto;
    max-width: 1440px;
    padding: 6rem 4rem 3rem 4rem;
    text-align: center;
  }

  /* Start gallery section */
  .container-home__gallery {
    margin: 0 auto;
    max-width: 1440px;
    padding: 3rem 4rem;
  }

  .container-home__gallery__row {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-bottom: 3rem;
  }

  .container-home__gallery__row__card {
    align-items: center;
    border-radius: 2rem;
    display: flex;
    gap: 1rem;
  }

  .container-home__gallery__row__card h2,
  .container-home__gallery__row__card p {
    color: #fff;
  }

  .container-home__gallery__row__card p {
    margin: 1.5rem 0;
    padding-right: 1rem;
  }

  .container-home__gallery__row__card__figure img {
    border-radius: 1.5rem 0 0 1.5rem;
    cursor: pointer;
  }

  .container-home__gallery__row__card__secondary-button {
    background-color: #fff;
    border: 1px solid var(--primary-color);
    border-radius: 48px;
    color: var(--primary-color);
    cursor: pointer;
    padding: 0.75rem 3rem;
    text-decoration: none;
  }

  /* Card backgrounds */

  .green {
    background-color: var(--secondary-dark);
  }

  .brown {
    background-color: var(--tertiary-dark);
  }

  .violet {
    background-color: var(--primary-dark);
  }

  .red {
    background-color: #d04d3e;
  }
  .container-home__gallery__row__card {
   flex-basis: 50%;
  }
  .container-home__gallery__row__card {
  flex-direction: row;
  }
  .container-home__gallery__row__card__secondary-button{
    display: inline;
  }

}

/* Media query Desktop */

@media (min-width: 1200px) {


  }

